# Project URL, e.g. https://abcdefghijklmnop.supabase.co
NEXT_PUBLIC_SUPABASE_URL=https://ldnhkkbidljjruklqxfl.supabase.co

NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_d7o5oMyVOlQpFJSuWI59Gg_yPYN_s5-
