# Project URL, e.g. https://abcdefghijklmnop.supabase.co
NEXT_PUBLIC_SUPABASE_URL=https://auegxqoameekrvkebiss.supabase.co

NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImF1ZWd4cW9hbWVla3J2a2ViaXNzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODY1NjMwNDQsImV4cCI6MjEwMjEzOTA0NH0.VZSWZUv4M341RPdxxmHn2HANxcYGgBwaYed6kx9BfCQ
